.content-container {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .user-content-header {
        display: flex;
        justify-content: center;
        font-size: 22;
    }

    .user-list-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 95%;
        margin: 10px;

        .user-card {
            flex: 3;
            border: 1px solid lightgray;
            box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.38) ;
            max-width: 550px;
            min-width: 550px;
            margin: 15px;
            position: relative;
        }
    }
}
