<div class="content-container">
    <div class="header">
      <h1>The Big User List</h1>
    </div>
    <div class="user-list-container">
      <mat-card *ngFor="let user of users" class="example-card">
        <mat-card-header class="card-header">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{user.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content" *ngFor="let todo of user.todos">
          <span class="todo-title">
            {{todo.name}} :
          </span>
          <span class="todo-description">
            {{todo.description}}
          </span>
        </mat-card-content>
        <mat-card-actions class="actions-container">
          <button mat-button>Edit</button>
          <button mat-button>Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  